
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
      
body{
    font-family: 'Poppins', sans-serif;
}
.cover-image{
    width: 1320px;
    height: 700px;
}
.cover-button{
    background-color: 
    rgba(40, 155, 222, 1);
}